<h1> Slick Slider Header </h1>


{% schema %}
  {
    "name": "Slick slider",
    "settings": [],
    "presets": [
      {
        "name": "Slick slider"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}